html, body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: white;
  color: #474747;
  /* measure and line height */
  line-height: 1.5;
  padding-left:  0.5rem;
  padding-right: 0.5rem;
}

h1 { margin: 0; color: #434356; }
h2 { margin: 0; color: #434356; }
h3 { margin: 0; color: #434356; }
h4 { margin: 0; color: #434356; }
h5 { margin: 0; color: #434356; }

a:link {    color: #0074D9; }
a:visited { color: #0074D9; } 
a:hover {   color: #001f3f; }
a:active {  color: #0074D9; }

p { max-width: 34em; }

/* Some flex properties */
.flx {               display: flex; }
.flx-aln-c {     align-items: center; }
.flx-jst-c { justify-content: center; }


.Resume {
  /* top: 0; */
  /* left: 0; */
  /* margin: 0; */
  /* padding: 0; */
}
.Resume-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.Resume-nav > ul { padding-left: 0; }
.Resume-nav__item { 
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.2rem;
}
.Resume-nav__item > a {
  text-decoration: none;
}
.Resume-nav__item:nth-of-type(odd) { 
}
.Resume-nav__item:nth-of-type(odd) > a { 
  color: #474747;
}
.Resume-nav__item:nth-of-type(odd) > a:hover { 
  color: #0074D9;
}

/* Utils */
div.SectionHeadlineContainer {
  display: inline-grid;
  grid-template-columns: 1rem auto;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

div.SectionHeadline {
  grid-column: 2;
  grid-row: 1;
  z-index:900;
  color:#1a1a1a;
  transition:opacity .35s;
  border-top:  2px solid #1a1a1a;
  border-left: 2px solid #1a1a1a;
  /* display: inline-block; */
  background-color: #fff;
}
div.SectionHeadline__content {
  background: #fff;
  color: #1a1a1a;
  font: 18px/38px Arial,Helvetica,sans-serif;
  text-align: center;
  -webkit-transition: -webkit-transform .175s;
  transition: transform .175s;
}
div.SectionHeadline__content, div.SectionHeadline__content:before {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 2px solid  #1a1a1a;
  border-right:  2px solid  #1a1a1a;
}


div.SectionHeadline__content:hover{
  transform: translateX(1rem); padding-right: 1rem;
}
.SectionHeadline__toTop {
  display: block;
  grid-row: 1;
  grid-column: 1;
  text-decoration: none;
}
.SectionHeadline__toTop:before { content: " ^ "; }

/* Resume Components */
.Header {}
.Header-name { font-size: 4rem; }
.Header-label { margin-top: 0px; padding: 0; font-size: 2rem; font-style: italic; }
.EducationContent {}
.WorkContent {}
.VolunteerContent {}
.AwardContent {}
.PublicationContent {}
.SkillContent {}
.LanguageContent {}
.ReferenceContent {}
.InterestContent {}
.ResumeDate {}
.ResumeDate__text {}
